
.contact-border{
    padding-top:80px;
    height:fit-content;
}
.contact-border h2{
	font-family: "Times New Roman", Times, serif;
  
}
.contact-border p{
	font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content:space-between;
}
.contact-contents{
  line-height: 40px;
}

.contact-us-banner {
  background-image: linear-gradient(to bottom, rgba(95, 95, 97, 0.5), rgba(58, 54, 69, 0.942)), url('../Asset/aboutus.jpeg');
  background-size: cover;
  background-position: center;
  height:100%;
  color: white; 
  text-align: center;

}

 


  
