.footer {
    height: 25vh;
    margin-top: 100px;
    background: linear-gradient(to bottom, #10026f, #000000);
    color: white;
    width: 100%;
}

.footer-main{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-right{
    display: flex;
    flex-direction: row;
    width:50%;
    margin: 30px;
    justify-content:space-around;
    cursor: pointer;

}
.footer-right ul li:hover{
  text-decoration: underline;
}
.footer-left{
    width:50%;
    margin: 30px;
    cursor: pointer;
}

hr{
    
        border: none; 
        border-top: 1px solid #ccc; 
        margin: 3px 0;      
}

.footer-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-below-right {
    text-align: right;

  }
  
  .footer-below-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 90px;
    margin-top: 3px;
  }
  
  .socialmedia {
    display: flex;
  }
  
  .socialmedia li {
    padding: 10px; 
    list-style: none;
  }
  
  .socialmedia li  {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .socialmedia li:hover{
    transform: translateY(-2px);
  }
  
  .copy-right {
    color: #fff;
    margin-left: 30px;
    margin-top: 3px;
   cursor: pointer;
  }

.footer h2{
	font-family: "Times New Roman", Times, serif;
    font-weight: bold;

}
.footer p{
	font-family: "Times New Roman", Times, serif;
	
}
