button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img {
  display: block;
  width: 100%;
}

section {
  width: 100%;
  overflow: hidden;
}

article {
  display: flex;
  width: 200%; /* Width of the entire slider */
  animation: bannermove 20s linear infinite;
}

article.paused {
  animation-play-state: paused;
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  width: 100%; /* Each slide takes the full width */
}

li:nth-child(2) {
  background: green;
}

li:nth-child(3) {
  background: yellow;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
